h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1rem;
    color: rgba($color-white, 0.5);
}

.text-success {
    color: $color-green !important;
}

.text-danger {
    color: $color-red !important;
}
