h1 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    color: rgba($color-white, 0.5);
}

.text-primary {
    color: $color-primary !important;
}

.text-info {
    color: $color-blue !important;
}

.text-success {
    color: $color-green !important;
}

.text-danger {
    color: $color-red !important;
}

.bg-red {
    color: $color-white !important;
    background-color: $color-red !important;
}

.bg-grey {
    color: $color-white !important;
    background-color: rgba($color-black, 0.5) !important;
}
