{% extends 'base.html.twig' %}

{% block title %}On écoute Pink Floyd ?{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/home.js') }}" defer></script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <main>
        <section class="suggestion" id="touch-area">
            <a href="#" class="action top">
                <span>
                    <i class="fa-solid fa-angles-up"></i>
                </span>
                <i class="fa-solid fa-circle-play"></i>
            </a>
            <a href="#" class="action left">
                <span>
                    <i class="fa-solid fa-angles-left"></i>
                </span>
                <i class="fa-solid fa-x"></i>
            </a>
            <a href="#" class="action right">
                <span>
                    <i class="fa-solid fa-angles-right"></i>
                </span>
                <i class="fa-solid fa-pen-to-square"></i>
            </a>

            {% if album %}
                <div class="app-alert success">
                    <p>On écoute {{ album | capitalize }} !</p>
                </div>
            {% endif %}

            <figure class="app-image">
                <img src="{{ asset('build/img/album_animals.jpg') }}" alt="Pink Floyd - Animals" />
            </figure>

            <div class="infos">
                <div class="content">
                    <h1>Animals</h1>
                    <h2>Pink Floyd</h2>
                </div>
                <div class="actions">
                    <a href="#">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
