.app-alert {
    z-index: 9999;
    position: absolute;
    top: 20%;
    left: 2rem;
    right: 2rem;
    padding: 2rem 1rem;
    border-radius: 2.5rem;
    animation: autoHide 0.8s 3s forwards;

    &.success {
        color: $color-white;
        background-color: $color-green;
    }

    p {
        font-weight: bold;
    }
}

@keyframes autoHide {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
