.app-push {
    z-index: 9999;
    position: fixed;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: 50%;

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 0.35rem;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        font-weight: bold;
        color: $color-white;
        background-color: rgba($color-primary, 1);
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &:first-child {
        left: 1.5rem;
    }

    &:nth-child(2) {
        right: 4.5rem;
    }

    &:last-child {
        right: 1.5rem;

        i {
            font-size: 1.25rem;
        }
    }

    i {
        z-index: 9999;
        font-size: 1.35rem;
    }

    &.mood {
        .moods {
            display: none;
            position: absolute;
            top: 0;
            z-index: 9998;
            padding-top: 2.25rem;
            background-color: $color-primary;
            border: 2px solid $color-black;
            border-top: none;
            border-radius: 2rem;

            i {
                z-index: 9999;
                margin: 0.75rem 0;

                &:hover {
                    color: $color-white;
                }
            }
        }

        &:focus,
        &:active {
            .moods {
                display: block;
            }
        }
    }
}

