html {
    body {
        overflow: hidden;
        font-family: $font-primary;
        text-align: center;
        color: $color-black;
        background-color: $color-white;

        &.scrollable {
            overflow: initial;

            main {
                section {
                    padding-bottom: 6rem !important;
                }
            }
        }
    }
}
