main {
    section {
        &.suggestion {
            position: relative;
            margin: 0.5rem 0.75rem;
            color: $color-white;
            background-color: $color-black;
            border-radius: 1.5rem;
            box-shadow: 0.25rem 0.25rem 0.5rem rgba($color-black, 0.75);

            .action {
                z-index: 9998;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                background-color: $color-white;

                span {
                    position: absolute;

                    i {
                        font-size: 1.25rem;
                    }
                }

                i {
                    font-size: 1.5rem;
                }

                &.top {
                    top: 0;
                    left: 50%;
                    flex-direction: column;
                    padding-top: 2rem;
                    color: $color-white;
                    background-color: $color-red;
                    border-bottom-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    transform: translateX(-50%);

                    span {
                        top: 0.25rem;
                        left: 50%;
                        color: rgba($color-white, 0.5);
                        transform: translateX(-50%);

                        i {
                            font-size: 1.25rem;
                        }
                    }

                    i {
                        font-size: 1.75rem;
                    }
                }

                &.left {
                    top: 50%;
                    left: 0;
                    padding-left: 2rem;
                    color: $color-black;
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    transform: translateY(-50%);

                    span {
                        top: 50%;
                        left: 0.25rem;
                        color: rgba($color-black, 0.5);
                        transform: translateY(-50%);
                    }
                }

                &.right {
                    top: 50%;
                    right: 0;
                    padding-right: 2rem;
                    color: $color-white;
                    background-color: $color-blue;
                    border-top-left-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                    transform: translateY(-50%);

                    span {
                        top: 50%;
                        right: 0.25rem;
                        color: rgba($color-white, 0.5);
                        transform: translateY(-50%);
                    }
                }
            }

            figure {
                padding: 2px;
                border-radius: inherit;

                img {
                    display: block;
                    width: 100%;
                    height: calc(100vh - 12.25rem);
                    object-fit: cover;
                    border-radius: inherit;
                }
            }

            .infos {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;
                padding: 1.5rem;

                .content {
                    text-align: left;
                }

                .actions {
                    a {
                        i {
                            font-size: 2.5rem;
                            color: rgba($color-white, 0.5);

                            &.fa-solid {
                                color: $color-red;
                            }
                        }
                    }
                }
            }
        }
    }
}
